<div class="text-center mt-3">
  <h2>Danh sách khóa học hay</h2>
</div>

<div class="container mt-3">

  <div class="row mt-3">
      <div class="col-2" *ngFor="let lesson of lessons">
          <app-lesson [lesson]="lesson"></app-lesson>
      </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">
</pagination>
</div>
