<h2>Quản trị ứng dụng</h2>
<div class="tab-panel">
    <tabset class="member-tabset">
        <tab heading='Quản lý người dùng' *appHasRole='["Admin"]'>
            <div class="container">
                <app-user-management></app-user-management>
            </div>
        </tab>
        <tab heading='Quản lý ảnh' *appHasRole='["Admin", "Moderator"]'>
            <div class="container">
                <app-photo-management></app-photo-management>
            </div>
        </tab>
    </tabset>
</div>
